body {
    background-color:#006ADB;
    color: #222A33;
    font-family: "Playfair Display", serif;

}
header{
    text-align: center;
    color: #222A33;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
    font-size: 300%;
}
img {
    max-width: 100%;
}
#hero, footer {
    text-align:center;
    background-color: rgb(46, 207, 207);
    color:black;
    padding:20px;
    border: 10px  outset rgb(46, 207, 207);
    border-radius:30px;
}
#hero img {
    width: 250px;
}
#bio {
    text-align: center;
}
#major {
    text-align:center;
}
#Gallery, #lit {
    border: 10px;
    border-radius: 40px;
    text-align:center;
    margin-bottom:2em;
}
#Gallery hr {
    text-align: center;
}

#lit {
    text-align: justify;
}
#lit div {
    padding:2em;
    max-width:40em;
    margin-left:auto;
    margin-right:auto;
}
/* Drop Caps */

#lit p:first-letter {
color:rgba(45, 141, 232, 0.837);
float:left;
font-size: 2em;
border:5px solid rgb(36, 77, 166);
background-color: #191970;
text-shadow:0px,0px,3px rgb(24, 157, 157);
line-height:60%;
background-image:radial-gradient(#191970, #3f29d1);
}